name: CI/CD - FCG.RabbitMQ - AKS

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**/README.md'
      - 'Documentation/**'

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS context
        run: az aks get-credentials --resource-group RG_FCG --name aks-fcg-notification --overwrite-existing
        
      - name: Apply Namespaces
        run: kubectl apply -f Kubernetes/rabbitmq/namespace.yaml

      - name: Apply Secret
        run: |
             export RABBITMQ_DEFAULT_USER="${{ secrets.RABBITMQ_DEFAULT_USER }}"
             export RABBITMQ_DEFAULT_PASS="${{ secrets.RABBITMQ_DEFAULT_PASS }}"
             export ENV="${{ vars.ENV }}"
             envsubst < Kubernetes/rabbitmq/secret.yaml | kubectl apply -n fcg-rabbitmq-dev -f -              # aplica o secret com substituição de variáveis

      - name: Deploy to AKS - DEV
        run: |
             kubectl apply -f Kubernetes/rabbitmq/service.yaml -n fcg-rabbitmq-dev                            # aplica o service
             envsubst < Kubernetes/rabbitmq/statefulset.yaml | kubectl apply -n fcg-rabbitmq-dev -f -         # aplica o statefulset com substituição de variáveis
             kubectl rollout status statefulset/fcg-rabbitmq -n fcg-rabbitmq-dev                              # aguarda o rollout completar
